<div class="container">
  <h1>Agenda de Compromisso</h1>
  <div class="container">
    <form [formGroup]="formGroupAgenda">
      <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" formControlName="title" class="form-control" id="title" placeholder="Digite o título da agenda">
      </div>
      <div class="mb-3">
          <label for="description" class="form-label">Descrção</label>
          <input type="text" formControlName="description" class="form-control" id="description" placeholder="Digite a descrção da agenda">
      </div>
      <div class="mb-3">
          <label for="date_hora" class="form-label">Data/Hora</label>
          <input type="number" formControlName="date_hora" class="form-control" id="date_hora" placeholder="Digite a data e hora da agenda">
      </div>
      <div class="mb-3">
          <label for="local" class="form-label">Local</label>
          <input type="text" formControlName="local" class="form-control" id="local" placeholder="Digite o local da agenda">
      </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</div>
