<table class="table">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data/Hora</th>
          <th scope="col">Local</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agenda of agendas">
      <th scope="row">{{agenda.id}}</th>
      <td><a routerLink="/agenda/{{agenda.id}}">{{agenda.title}}</a></td>
      <td>{{agenda.descriptiom}}</td>
      <td>{{agenda.date_hora}}</td>
      <td>{{agenda.local}}</td>
      <td><button class="btn btn-danger" (click)="delete(agenda)">Remover</button></td>
    </tr>
  </tbody>
</table>
